<mat-drawer-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x">
  <mat-drawer mode="side" opened class="p-6">
    <app-filters (showCategory)="onShowCategory($event)"></app-filters>
  </mat-drawer>
  <mat-drawer-content class="p-6">
    <app-header-product (columnsCountChange)="onColumnsCountChange($event)" (itemsCountChange)="onItemsUpdated($event)"
      (sortChange)="onSortChange($event)"></app-header-product>
    <mat-grid-list *ngIf="products && products.length"
     gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
      <mat-grid-tile *ngFor="let product of products">
        <div (addToCart)="onAddToCart($event)"
        app-product-box [product]="product" [fullWidthMode]="cols === 1" class="w-full">
        {{ cols === 1 }} <!-- Add this log to confirm the expression -->></div>
      </mat-grid-tile>
    </mat-grid-list>
    <app-pagination
  [totalProducts]="totalProducts"
  [itemsPerPage]="itemsPerPage"
  (pageChanged)="onPageChanged($event)"
></app-pagination>
  </mat-drawer-content>
</mat-drawer-container>